<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Autenticação</title>
</head>
<body>
    <h1>Login</h1>
   <form action="/login/autenticar" method="post">
        <label>username</label>
        <input type="text" name="username">
        <br>
        <label>senha</label>
        <input type="text" name="senha">
        <br>
        <input type="submit" value="Enviar">
</body>
</html>