<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Principais Notícias</title>
</head>
<body>
    <h1>Lista de Associados</h1>
    <label>Tipo de associado</label>
    <select name="tipoAssociado">
        <option value="todos">Todos</option>
        <option value="pagante">Pagante</option>
        <option value="socioArtistico">Sócio-Artístico</option>
    </select>
    <table>
    <h3> - - - - - </h3>
    </table>
</body>
</html>