@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap");

:root {
    --color-light-red: #8C1C45;
    --color-dark-red: #400101;
    --color-light-beige: #F2AA52;
    --color-dark-beige: #D96E30;
    --color-white: #F2F2F2;
    --color-black: #000000;
}

body{
   font-family: "Tektur", sans-serif;
   background-color: var(--color-white);
}


#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

footer {
  margin-top: auto;
}