@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-white: #f2f2f2;
  --color-vinho: #8C1642;
  --color-amarelo: #F2CA50;
  --color-laranja1: #F2994B;
  --color-laranja2: #D94929;
  --color-marrom: #361617;
  --color-preto: #1B110F;
}

body {
  font-family: "Tektur", sans-serif;
  background-color: var(--color-marrom);
}


main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  max-width: 1280px; 
  margin: 0 auto; 
  padding: 2rem;  

  background-color: var(--color-white);

}