
.header {
  width: 100%;
  background-color: var(--color-marrom);
  
  padding: 1rem 0;

  box-shadow: 0px 0.25rem 1.2rem rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.header-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.logoimg{
  width: 4rem;
  height: 4rem;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 1.5rem; 
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
}

.nav-link {
  padding: 1rem 2rem;
  text-decoration: none;
  
  color: var(--color-white);
  font-weight: 400; 
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
  border: 1px solid transparent;
}

.nav-link:hover {
  color: var(--color-amarelo);
  background-color: rgba(255, 255, 255, 0.05); 
}

.nav-link.active {
  border-bottom: 3px solid var(--color-white);
  background-color: var(--color-vinho);
  font-weight: 600;
}

.nav-link.active:hover {
  background-color: var(--color-vinho); 
  color: var(--color-white); 
  opacity: 0.9; 
}

@media (max-width: 768px) {
  .header-nav {
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 1rem;
  }

  .nav-link {
    width: 100%;
    text-align: center;
    padding: 0.8rem 1rem;
  }
}