
.dataAssociacao {
  margin-top: auto; 
  font-size: 0.75rem;
  color: #888;
  border-top: 1px dashed #eee;
  padding-top: 0.5rem;
  text-align: center;
}

.condicao {
  background-color: var(--color-black2, #2c2c2c);
  color: var(--color-amarelo, #F2CA50);
  
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  
  padding: 0.5rem;
  border-radius: 6px;
  margin-top: 0.5rem;
  
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}